@font-face {
    font-family: 'ProximaNova-Regular';
    src: url(../fonts/ProximaNova/ProximaNova-Regular.ttf);
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url(../fonts/ProximaNova/ProximaNova-Bold.ttf);
}

@font-face {
    font-family: 'ProximaNova-Light';
    src: url(../fonts/ProximaNova/ProximaNova-Light.ttf);
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url(../fonts/ProximaNova/ProximaNova-Semibold.ttf);
}

@font-face {
    font-family: 'ElMessiri-Bold';
    src: url(../fonts/ElMessiri/ElMessiri-Bold.ttf);
}